.advantages {
    padding-top: 103px;
    padding-bottom: 104px;
    background-color: #222224;

    @media (max-width: $screen-xmd) {
        padding-top: 48px;
        padding-bottom: 64px;
    }

    @media (max-width: $screen-md) {
        padding-top: 48px;
        padding-bottom: 81px;
    }

    & .center-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: $screen-xmd) {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        @media (max-width: $screen-md) {
            gap: 46px;
        }
    }
}