.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    color: #fbfbfb;

    &:first-child &__img {
        margin-bottom: 28px;
    }

    &:last-child &__img {
        margin-bottom: 25px;
    }

    &:nth-child(2) &__img {
        margin-bottom: 19px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    &__text {
        max-width: 300px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
}