.burger-menu {
    width: 32px;
    height: 23px;
    border: none;
    background-color: inherit;
    background-image: url(../styles/img/burger-menu.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}