.catalog {
    margin-bottom: 95px;

    & .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $screen-md) {
            padding-right: 8px;
            padding-left: 8px;
        }
    }

    &__title {
        margin-bottom: 6px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222;
    }

    &__text {
        margin-bottom: 48px;
        font-size: 14px;
        line-height: 16px;
        color: #9f9f9f;

        @media (max-width: $screen-xmd) {
            margin-bottom: 72px;
        }

        @media (max-width: $screen-md) {
            margin-bottom: 64px;
            text-align: center;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 48px;

        @media (max-width: $screen-xmd) {
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(3, 1fr);
            gap: 14px;
            margin-bottom: 32px;
        }

        @media (max-width: $screen-md) {
            grid-template-columns: repeat(1, minmax(300px, 360px));
            grid-template-rows: repeat(6, 1fr);
            gap: 15px;
            margin-bottom: 40px;
        }
    }

    &__button {
        display: inline-block;
        padding: 15px 39px;
        color: #F26376;
        border: 1px solid $sub-color;
        background-color: transparent;
        transition: background-color .3s, color .3s;

        &:hover {
            background-color: $sub-color;
            color: $white-color;
        }
    }
}