.page-top {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;

    & .center-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
        color: $main-color;
        text-transform: uppercase;
    }
}