/* lato-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../styles/fonts/lato-v24-latin-300.woff2') format('woff2');
  }
  /* lato-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/lato-v24-latin-regular.woff2') format('woff2');
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../styles/fonts/lato-v24-latin-700.woff2') format('woff2');
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../styles/fonts/lato-v24-latin-900.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    font-family: Lato, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.page-header {
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 19px;
}

.page-header .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__left {
    display: flex;
    align-items: baseline;
    gap: 41px;
    max-height: 38px;
}

.page-header__search {
    max-width: 26px;

}

.page-header__right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 33px;
    max-height: 29px;
}

.burger-menu {
    width: 32px;
    height: 23px;
    border: none;
    background-color: inherit;
    background-image: url(../styles/img/burger-menu.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-nav {
    position: absolute;
    padding: 32px 74px 32px 32px;
    top: 52px;
    background-color: #fff;
    width: 232px;
    box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, .21);
}

.main-nav--hidden {
    visibility: hidden;
}

.main-nav__header {
    display: inline-block;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.main-nav__link {
    display: inline-block;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 14px;
    color: #F16D7F;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style-type: none;
}

.sub-nav__link {
    margin-left: 21px;
    font-size: 14px;
    color: #6F6E6E;
}

.page-header__shopping-cart {
    position: relative;
}

.page-header__shopping-cart::before {
    content: '5';
    position: absolute;
    box-sizing: border-box;
    padding-left: 1px;
    top: -8px;
    right: -8px;
    min-width: 19px;
    min-height: 19px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #F16D7F;
    border-radius: 100%;
}

.promo {
    background-color: #f1e4e6;
    margin-bottom: 65px;
}

.promo .center-container {
    display: flex;
    align-items: center;
    gap: 63px;
}

.promo__img {
    margin-left: -230px;
}

.promo__main-title {
    padding-top: 13px;
    padding-left: 16px;
    max-width: 405px;
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    font-size: 48px;
    line-height: 38px;
    border-left: 12px solid #f16d7f;
}

.promo__main-title--smaller {
    font-weight: 700;
    font-size: 32px;
}

.promo__main-title--pink {
    color: #f16d7f;
}

.categories {
    margin-bottom: 96px;
}

.categories .center-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.categories-card {
    background-color: #808080;
    background-repeat: no-repeat;
}

.categories-card--big {
    grid-column: span 3;
}

.categories-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
}

.categories-card__women, .categories-card__men, .categories-card__kids, .categories-card__accesories {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.categories-card__women {
    background-image: url(../styles/img/categories-women.png);
}

.categories-card__men {
    background-image: url(../styles/img/categories-men.png);
}

.categories-card__kids {
    background-image: url(../styles/img/categories-kids.png);
}

.categories-card__accesories {
    background-image: url(../styles/img/categories-accesories.png);
}

.categories-card__text {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 19px;
    color: #fff;
}

.categories-card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
}

.catalog {
    margin-bottom: 95px;
}

.catalog .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__title {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222;
}

.catalog__text {
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 16px;
    color: #9f9f9f;
}

.catalog__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.catalog-card {
    position: relative;
    background-color: #f8f8f8;
}

.catalog-card:hover .catalog-card__img::before {
    visibility: visible;
}

.catalog-card:hover .catalog-card__img-button {
    visibility: visible;
}

.catalog-card__img {
    position: relative;
    margin-bottom: 23px;
}

.catalog-card__img::before {
    content: "";
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 56, 56, 0.86);
}

.catalog-card__img-item {
    max-width: 100%;
}

.catalog-card__img-button {
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 11px;
    top: calc(50% - 21px);
    left: calc(50% - 69px);
    padding: 14px 16px 12px 13px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.catalog-card__img-button img {
    width: 26px;
}

.catalog-card__title {
    margin-bottom: 12px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.catalog-card__text {
    margin-bottom: 18px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #5d5d5d;
}

.catalog-card__price {
    display: inline-block;
    margin-bottom: 19px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__button {
    display: inline-block;
    padding: 15px 39px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background-color: transparent;
}

.catalog__button-link {
    display: inline-block;
    padding: 15px 39px;
    color: #F26376;
    border: 1px solid #FF6A6A;
}

.catalog__button:hover {
    background-color: #FF6A6A;
    color: #fff;
    border: 1px solid #FF6A6A;
}

.advantages {
    padding-top: 103px;
    padding-bottom: 104px;
    background-color: #222224;
}

.advantages .center-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    color: #fbfbfb;
}

.advantages-card:first-child .advantages-card__img {
    margin-bottom: 28px;
}

.advantages-card:last-child .advantages-card__img {
    margin-bottom: 25px;
}

.advantages-card:nth-child(2) .advantages-card__img {
    margin-bottom: 19px;
}

.advantages-card__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.advantages-card__text {
    max-width: 300px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.subscribe {
    position: relative;
    padding-top: 97px;
    padding-bottom: 126px;
    background-image: url(./img/subscribe-backgrount-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.7);
}

.subscribe .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 360px;
    z-index: 1;
}

.subscribe-card__img {
    margin-bottom: 30px;
}

.subscribe-card__text {
    padding-bottom: 50px;
}

.subscribe-card__blockquote {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-height: 142px;
    z-index: 1;
}

.subscribe__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.subscribe__title--smaller {
    font-size: 18px;
    font-weight: 400;
}

.subscribe__form {
    display: flex;
    justify-content: center;
}

.subscribe__form-email {
    padding-right: 22px;
    padding-left: 22px;
    min-width: 256px;
    min-height: 49px;
    border: none;
    border-radius: 50px 0 0 50px;
    background-color: #e1e1e1;
}

.subscribe__form-email::placeholder {
    color: #222224;
}

.subscribe__form-button {
    min-width: 100px;
    min-height: 49px;
    color: #fff;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: #F16D7F;
    cursor: pointer;
}

.page-footer {
    padding-top: 24px;
    padding-bottom: 23px;
    background-color: #222224;
}

.page-footer .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer__rights {
    color: #fbfbfb;
}

.page-footer__social {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.social-link:hover {
    background-color: #F16D7F;
}

.social-link:hover svg path {
    fill: #fff;
}

@media (min-width: 1600px) {

    .main-nav {
        left: 157px;
    }
}

@media (max-width: 1286px) {

    .main-nav {
        left: -41px;
    }
}

@media (max-width: 1094px) {

    .center-container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .page-header .center-container {
        padding-right: 32px;
        padding-left: 32px;
    }

    .promo .center-container {
        gap: 39px;
        padding-right: 33px;
    }

    .promo__img {
        margin-left: -14px;
        max-width: 386px;
    }

    .promo__main-title {
        padding-bottom: 15px;
        max-width: 308px;
        font-size: 44px;
        line-height: 28px;
    }
    
    .promo__main-title--smaller {
        font-size: 24px;
    }

    .categories {
        margin-bottom: 109px;
    }

    .categories .center-container {
        grid-template-rows: 167px 116px;
        gap: 19px;
    }

    .categories-card__women, .categories-card__men, .categories-card__kids, .categories-card__accesories {
        background-position: top;
    }

    .catalog__text {
        margin-bottom: 72px;
    }

    .catalog__content {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 1fr);
        gap: 14px;
        margin-bottom: 32px;
    }

    .advantages {
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .advantages .center-container {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .subscribe {
        padding-top: 64px;
        padding-bottom: 140px;
        background-position: -450px 0;
        background-size: auto 115%;
    }

    .subscribe .center-container {
        flex-direction: column;
        gap: 48px;
    }

    .subscribe-card__text {
        padding-bottom: 27px;
    }
}

@media (max-width: 767px) {

    .page-header .center-container {
        padding-right: 16px;
        padding-left: 16px;
    }


    .page-header__account, .page-header__shopping-cart {
        display: none;
    }

    .main-nav {
        top: 49px;
        left: -184px;
    }

    .promo .center-container {
        justify-content: center;
        align-items: center;
        padding-top: 148px;
        padding-bottom: 148px;
    }

    .promo__img {
        display: none;
    }

    .promo__main-title {
        padding-bottom: 0;
        max-width: 265px;
        font-size: 38px;
        line-height: 24px;
    }
    
    .promo__main-title--smaller {
        font-size: 20px;
    }

    .categories {
        margin-bottom: 64px;
    }

    .categories .center-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 248px 248px 248px 111px;
        gap: 32px;
    }

    .categories-card--big {
        grid-column: span 1;
    }

    .catalog .center-content {
        padding-right: 8px;
        padding-left: 8px;
    }

    .catalog__text {
        margin-bottom: 64px;
        text-align: center;
    }

    .catalog__content {
        grid-template-columns: repeat(1, minmax(304px, 360px));
        grid-template-rows: repeat(6, 1fr);
        gap: 15px;
        margin-bottom: 40px;
    }

    .advantages {
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .advantages .center-container {
        gap: 46px;
    }

    .subscribe {
        padding-top: 64px;
        padding-bottom: 110px;
        background-position: -530px -55px;
        background-size: auto 115%;
    }

    .subscribe .center-container {
        gap: 59px;
    }

    .subscribe-card__text {
        padding-bottom: 0;
    }

    .subscribe-card__blockquote {
        font-size: 18px;
    }

    .subscribe__content {
        gap: 22px;
    }

    .subscribe__title--smaller {
        font-size: 14px;
    }

    .subscribe__form-email {
        padding-left: 21px;
        min-width: 245px;
        min-height: 47px;
    }

    .subscribe__form-button {
        min-width: 96px;
        min-height: 47px;
    }

    .page-footer{
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .page-footer .center-container {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media (max-width: 360px) {

    .subscribe__form-email {
        min-width: 210px;
    }

    .subscribe__form-button {
        min-width: 90px;
    }
}
