/* ----------HOMEWORK 6---------- */

/* lato-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../styles/fonts/lato-v24-latin-300.woff2') format('woff2');
  }
  /* lato-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/lato-v24-latin-regular.woff2') format('woff2');
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../styles/fonts/lato-v24-latin-700.woff2') format('woff2');
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../styles/fonts/lato-v24-latin-900.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    font-family: Lato, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.page-header {
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 19px;
}

.page-header .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__left {
    display: flex;
    align-items: baseline;
    gap: 41px;
    max-height: 38px;
}

.page-header__search {
    max-width: 26px;

}

.page-header__right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 33px;
    max-height: 29px;
}

.burger-menu {
    width: 32px;
    height: 23px;
    border: none;
    background-color: inherit;
    background-image: url(../styles/img/burger-menu.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-nav {
    position: absolute;
    padding: 32px 74px 32px 32px;
    top: 52px;
    background-color: #fff;
    width: 232px;
    box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, .21);
}

.main-nav--hidden {
    visibility: hidden;
}

.main-nav__header {
    display: inline-block;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.main-nav__link {
    display: inline-block;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 14px;
    color: #F16D7F;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style-type: none;
}

.sub-nav__link {
    margin-left: 21px;
    font-size: 14px;
    color: #6F6E6E;
}

.promo {
    background-color: #f1e4e6;
    margin-bottom: 65px;
}

.promo .center-container {
    display: flex;
    align-items: center;
    gap: 63px;
}

.promo__img {
    margin-left: -230px;
}

.promo__main-title {
    padding-top: 13px;
    padding-left: 16px;
    max-width: 405px;
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    font-size: 48px;
    line-height: 38px;
    border-left: 12px solid #f16d7f;
}

.promo__main-title--smaller {
    font-weight: 700;
    font-size: 32px;
}

.promo__main-title--pink {
    color: #f16d7f;
}

.categories {
    margin-bottom: 96px;
}

.categories .center-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.categories-card {
    background-color: #808080;
    background-repeat: no-repeat;
}

.categories-card--big {
    grid-column: span 3;
}

.categories-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
}

.categories-card__women, .categories-card__men, .categories-card__kids, .categories-card__accesories {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.categories-card__women {
    background-image: url(../styles/img/categories-women.png);
}

.categories-card__men {
    background-image: url(../styles/img/categories-men.png);
}

.categories-card__kids {
    background-image: url(../styles/img/categories-kids.png);
}

.categories-card__accesories {
    background-image: url(../styles/img/categories-accesories.png);
}

.categories-card__text {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 19px;
    color: #fff;
}

.categories-card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
}

.catalog {
    margin-bottom: 60px;
}

.catalog .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__title {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222;
}

.catalog__text {
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 16px;
    color: #9f9f9f;
}

.catalog__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.catalog-card {
    background-color: #f8f8f8;
    max-height: 581px;
}

.catalog-card__img {
    margin-bottom: 23px;
    max-width: 100%;
}

.catalog-card__title {
    margin-bottom: 12px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.catalog-card__text {
    margin-bottom: 18px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #5d5d5d;
}

.catalog-card__price {
    display: inline-block;
    margin-bottom: 19px;
    padding-right: 28px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__button {
    border: none;
    background-color: transparent;
}

.catalog__button-link {
    display: inline-block;
    padding: 15px 39px;
    color: #F26376;
    border: 1px solid #FF6A6A;
}

.catalog__button-link:hover {
    background-color: #FF6A6A;
    color: #fff;
    border: 1px solid #FF6A6A;
}

@media (min-width: 1600px) {

    .main-nav {
        left: 157px;
    }
}

@media (max-width: 1286px) {

    .main-nav {
        left: -41px;
    }
}

@media (max-width: 1094px) {

    .center-container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .page-header .center-container {
        padding-right: 32px;
        padding-left: 32px;
    }

    .promo .center-container {
        gap: 39px;
        padding-right: 33px;
    }

    .promo__img {
        margin-left: -14px;
        max-width: 386px;
    }

    .promo__main-title {
        padding-bottom: 15px;
        max-width: 308px;
        font-size: 44px;
        line-height: 28px;
    }
    
    .promo__main-title--smaller {
        font-size: 24px;
    }

    .categories {
        margin-bottom: 109px;
    }

    .categories .center-container {
        grid-template-rows: 167px 116px;
        gap: 19px;
    }

    .categories-card__women, .categories-card__men, .categories-card__kids, .categories-card__accesories {
        background-position: top;
    }

    .catalog__text {
        margin-bottom: 72px;
    }

    .catalog__content {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 1fr);
        gap: 14px;
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {

    .page-header .center-container {
        padding-right: 16px;
        padding-left: 16px;
    }


    .page-header__account, .page-header__shopping-cart {
        display: none;
    }

    .main-nav {
        top: 49px;
        left: -184px;
    }

    .promo .center-container {
        justify-content: center;
        align-items: center;
        padding-top: 148px;
        padding-bottom: 148px;
    }

    .promo__img {
        display: none;
    }

    .promo__main-title {
        padding-bottom: 0;
        max-width: 265px;
        font-size: 38px;
        line-height: 24px;
    }
    
    .promo__main-title--smaller {
        font-size: 20px;
    }

    .categories {
        margin-bottom: 64px;
    }

    .categories .center-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 248px 248px 248px 111px;
        gap: 32px;
    }

    .categories-card--big {
        grid-column: span 1;
    }

    .catalog .center-content {
        padding-right: 8px;
        padding-left: 8px;
    }

    .catalog__text {
        margin-bottom: 64px;
        text-align: center;
    }

    .catalog__content {
        grid-template-columns: repeat(1, minmax(304px, 360px));
        grid-template-rows: repeat(6, 1fr);
        gap: 15px;
        margin-bottom: 40px;
    }

    .catalog-card__img {
        max-width: 100%;
    }
}
